.container{
    width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.header{
    margin-top: 30px;

}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list{
    display: flex;
}

.nav__item{
margin: 33px;
list-style: none;
}

.nav__link{
text-decoration: none;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
}